<!DOCTYPE HTML>
<html>
<head>
    <title>CGV에 오신 것을 환영합니다!</title>
    <% include ../common_import.ejs %>
</head>
<body class="homepage">
<div id="page-wrapper">
    <!-- Header -->
    <% include header_admin.ejs %>

    <!-- Banner -->
    <section id="banner">
        <header>
            <h2>관리자 페이지</h2>
            <!--<p>-->
            <!--A (free) responsive site template by <a href="http://html5up.net">HTML5 UP</a>.-->
            <!--Built on <strong>skel</strong> and released under the <a href="http://html5up.net/license">CCA</a> license.-->
            <!--</p>-->
        </header>
    </section>


    <!-- Footer -->
    <% include ../footer.ejs %>

</div>

<!-- Scripts -->
<% include ../common_footer.ejs %>

</body>
</html>